@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<alert type="Primary" dismissible="true">
    <h2>Test</h2>
    This is a <a alert-link="" href="#">test</a> alert.<a badge="Primary" href="#">test</a>
</alert>

<blockquote bg-color="Success" border="All" bd-color="Primary" rounded="Default">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<breadcrumb>
    <breadcrumb-item title="Home" href="#">Home</breadcrumb-item>
    <breadcrumb-item title="Product manage." href="#">Product</breadcrumb-item>
    <breadcrumb-item title="Product list.">ProductList</breadcrumb-item>
</breadcrumb>
<button button-type="Primary" icon-type="FontAwesome" icon="address-book">Test</button>
<button-group bg-color="Primary" direction="Horizontal" size=" Default">
    <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
    <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
    <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
    <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
</button-group>
<br />
<button-toolbar>
    <button-group direction="Horizontal" class="mr-2" size=" Default">
        <button button-type="Primary" out-line="true" icon-type="FontAwesome" icon="address-book" />
        <button button-type="Primary" icon-type="FontAwesome" icon="address-book" />
        <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
        <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
    </button-group>
    <button-group direction="Horizontal" class="mr-2" size=" Default">
        <button button-type="Success" icon-type="FontAwesome" icon="address-book" />
        <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
        <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
        <button button-type="Default" icon-type="FontAwesome" icon="address-book" />
    </button-group>
</button-toolbar>
<card-group>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
</card-group>
<div class="row">
    <card-deck>
        <card>
            <card-header>Header</card-header>
            <card-body>
                <card-title>Primary title.</card-title>
                <card-subtitle>Sub title</card-subtitle>
                <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
                <button button-type="Primary" out-line="true">Button</button>
                <button button-type="Secondary" out-line="true">Button</button>
            </card-body>
            <card-footer>Footer</card-footer>
        </card>
        <card>
            <card-header>Header</card-header>
            <card-body>
                <card-title>Primary title.</card-title>
                <card-subtitle>Sub title</card-subtitle>
                <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
                <button button-type="Primary" out-line="true">Button</button>
                <button button-type="Secondary" out-line="true">Button</button>
            </card-body>
            <card-footer>Footer</card-footer>
        </card>
        <card>
            <card-header>Header</card-header>
            <card-body>
                <card-title>Primary title.</card-title>
                <card-subtitle>Sub title</card-subtitle>
                <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
                <button button-type="Primary" out-line="true">Button</button>
                <button button-type="Secondary" out-line="true">Button</button>
            </card-body>
            <card-footer>Footer</card-footer>
        </card>
    </card-deck>
</div>

<card-columns>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
    <card>
        <card-header>Header</card-header>
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <card-footer>Footer</card-footer>
    </card>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
    <card>
        <card-header>Header</card-header>
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <card-footer>Footer</card-footer>
    </card>
    <card>
        <img class="img-fluid" position="Top" data-src="holder.js/886x180" />
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <img class="img-fluid" position="Bottom" data-src="holder.js/886x180" />
    </card>
    <card>
        <card-header>Header</card-header>
        <card-body>
            <card-title>Primary title.</card-title>
            <card-subtitle>Sub title</card-subtitle>
            <card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</card-text>
            <button button-type="Primary" out-line="true">Button</button>
            <button button-type="Secondary" out-line="true">Button</button>
        </card-body>
        <card-footer>Footer</card-footer>
    </card>
</card-columns>
